<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
	<h1>Lista de departamentos</h1>
	
	<table class="table table-striped stable-bordered table-hover">
	  <tr class="table-primary">
	    <th>Id department</th>
	    <th>department_name</th>
	    <th>manager_id</th>
	    <th>Street Address</th>
	    <th>Postal Code</th>
	    <th>City</th>
	    <th>State Province</th>
	    <th>Country</th>
	    <th>Region</th>
	  </tr>
	  	
	    <tr th:each="lista:${lista}" >
	    <td th:text="${lista.departmentID}"></td>
	    <td th:text="${lista.departmentName}"></td>
	    <td th:text="${lista.managerID}"></td>
	    <td th:text="${lista.locationID.streetAddres}"></td>
	    <td th:text="${lista.locationID.postalCode}"></td>
	    <td th:text="${lista.locationID.city}"></td>
	    <td th:text="${lista.locationID.stateProvince}"></td>
	    <td th:text="${lista.locationID.countryID.countryName}"></td>
	    <td th:text="${lista.locationID.countryID.regionID.regionName}"></td>
	    
	  </tr>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>